<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psf.springcloud.dao.PaymentDao">
    <insert id="insert" parameterType="com.psf.springcloud.dao.PaymentDao" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values(#{serial})
    </insert>

    <resultMap id="paymentMap" type="com.psf.springcloud.entity.Payment">
        <id column="id" property="id"></id>
        <result column="serial" property="serial"></result>
    </resultMap>

    <select id="getByPaySerial"  parameterType="java.lang.String" resultMap="paymentMap">
        select * from payment where serial=#{serial}
    </select>
</mapper>
